<div class="panel panel-primary text-center">
  <div class="panel panel-heading">
    Are you lucky today???
  </div>
  <div class="panel-body">
    <p>
      <button
        [class]="getGuess() == 'Odd' ? 'btn btn-success' : 'btn btn-default'"
        (click)="setGuess('Odd')">Odd
      </button>
      &nbsp;
      <button
        [class]="getGuess() == 'Even' ? 'btn btn-success' : 'btn btn-default'"
        (click)="setGuess('Even')">Even
      </button>
    </p> 
  </div>
</div>

<button
  class="btn btn-primary form-control"
  (click)="switchAction()"
  [disabled]="getGuess() == null">{{ getAction().toUpperCase() }}
</button>

<hr>

<p class='text-center'>
  {{ this.getCounter() }}
</p>

