<h3>Even Component</h3>

<p id="number"></p>
<p>{{ getGuess() }}</p>

<button class="btn btn-success" (click)="setGuess('Odd')">Odd</button>
<button class="btn btn-warning" (click)="setGuess('Even')">Even</button>

<hr />

<button
  class="btn btn-primary"
  (click)="switchAction()"
  [disabled]="getGuess() == null"
>
  {{ getAction() }}
</button>

<p
  id="result"
  [class]="
    getResult() == getGuess() ? 'alert alert-success' : 'alert alert-danger'
  "
  *ngIf="getResult() != null"
>
  Resultado:
  {{ getResult() }}
</p>
